.about-container {
    display: flex; 
    align-items: center; 
    margin: 20px; 
}

.about-container img {
    max-width: 500px; 
    height: auto;
    margin-right: 20px; 
}

.about-text {
    max-width: 600px;
}